@{
ViewData["Title"] = "Create / Edit";
}

@model SpenseSmart.Models.Expense

<div class="text-center">
    <h1 class="display-4">Create or Edit an Expense</h1>
</div>
@* asp-controller is optional *@
<form asp-action="CreateEditExpenseForm" asp-controller="Home">
    @* <label for="">ID</label> *@
    <input hidden type="number" class="form-control" placeholder="Id" asp-for="Id">
    <label for="" class="mt-4">Value $</label>
    <input type="number" class="form-control" placeholder="Value" 
           asp-for="Value" step="0.01">
    <label for="" class="mt-4">Description</label>
    <input type="text" class="form-control" placeholder="Add description"
           asp-for="Description">
    
    <button class="btn btn-primary mt-4" type="submit">Submit</button>
</form>
